/* O teste vai ser feito usando o Chrome */

.menu-nav-side {
    height: 100%;
    width: 320px;
    padding: 0 0 0 10px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    /*padding-top: 20px;*/
}

.menu-nav-side a:hover {
    color: #525252;
}
.menu-nav-side a {
    font-size: 25px;
    display: block;
}
.menu-nav-side h1 {
    font-size: 40px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
}
.menu-nav-side:hover{
    /*Mozilla*/
    scrollbar-width: none;
}
.menu-nav-side:hover::-webkit-scrollbar{
    display: none;
    /*Chromium*/
}
.main {
    background-color: #f3f3f3;
    padding: 0 10px;
    margin: 0 0;
    margin-left: 330px; /* 320 + 10 para simular padding */
}

html body{
    background-color: #f3f3f3;
    margin: 0 0;
}

a.hover-text:hover {
    color: #15587a;
    font-size: 100%;
}
#table-data {
    font-family: 'Courier New', monospace;
}

.quadrado {
    float: left;
    width:25px;
    height:25px;
    display:block;
    overflow:hidden;
    /*background: gold;*/
    border: 1px solid;
    margin: 1px;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
}

.revelado {
    background-color: pink;
}

.numero {
    background-color: gold;
}

.escondido {
    background-color: gray;
}