/* O teste vai ser feito usando o Chrome */

.menu-nav-center {
    height: 100%;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.menu-nav-side {
    height: 100%;
    width: 320px;
    padding: 0 0 0 10px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    /*padding-top: 20px;*/
}

.menu-nav-side a:hover {
    color: #525252;
}
.menu-nav-side a {
    font-size: 25px;
    display: block;
}
.menu-nav-side h1 {
    font-size: 44px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
}
.menu-nav-side:hover{
    /*Mozilla*/
    scrollbar-width: none;
}
.menu-nav-side:hover::-webkit-scrollbar{
    display: none;
    /*Chromium*/
}
.main {
    background-color: #f3f3f3;
    padding: 0 10px;
    margin: 0 0;
    margin-left: 330px; /* 320 + 10 para simular padding */
}

html body{
    background-color: #f3f3f3;
    margin: 0 0;
}

a.hover-text:hover {
    color: #15587a;
    font-size: 100%;
}
#table-data {
    font-family: 'Courier New', monospace;
}


/*isso pode funcionar*/
.quadrado {
    float: left;
    width:25px;
    height:25px;
    display:block;
    overflow:hidden;
    background: gold;
    border: 1px solid;
    margin: 1px;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
}




/*
table {
    width: 50%;
}
td {
    width: calc(33.33% / 10);
    position: relative;
    border: 1px solid;
}
td:after {
    content: '';
    display: block;
    margin-top: 100%;
}
td .cell-content {
    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: gold;
}
*/



/*
#table-data {
    font-family: 'Courier New', monospace;
}
table {
    border-collapse:collapse;
    border: 1px solid #000;
}
td {
  width: 33.33%;
  position: relative;
}

td:after {
  content: '';
  display: block;
  margin-top: 100%;
}

td {

    border: 1px solid #000;
    text-align:center;
    width: 20px;
    height: 20px;

position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
}
cell-content
 */



/*

table {
  width: 50%;
}
td {
  width: calc(33.33% / 10);
  position: relative;
  border: 1px solid;
}
td:after {
  content: '';
  display: block;
  margin-top: 100%;
}
td .cell-content {
  position: absolute;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: gold;
}

*/